
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
       <div class="hold-transition login-page">

          <div class="login-box">
            <div class="login-logo">
              <img class="img-logo" src="./assets/ANR-LOGO/anr_light.svg">
              <br/>
              <b> Acontece Na Rural</b>
            </div>
            <!-- /.login-logo -->
            
            <div class="login-box-body" >
              <p class="login-box-msg">Entre com seus dados e fique informado sobre tudo que acontece na UFRPE</p>
                <div *ngIf="erroMessage.length > 0" class="alert alert-warning alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h4><i class="icon fa fa-warning"></i> Ops!</h4>
                  {{erroMessage}}
                 </div>
              
                <div class="form-group has-feedback"  for="username"  >
                  <label class="control-label" style="color: #ff5555;" *ngIf="erroLogin">
                    <i class="fa fa-times-circle-o"></i> Informe um usuário
                  </label>
                  <input type="text" class="form-control" placeholder="Nome do Usuário"  #username  >
                  <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" for="password">
                  <label class="control-label" style="color: #ff5555;" *ngIf="erroSenha">
                    <i class="fa fa-times-circle-o"></i> Informe uma senha
                  </label>
                  <input type="password" class="form-control" placeholder="Senha" #password >
                  <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <!-- /.col -->
                  <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" (click)="loginAva( username.value , password.value)" >Acessar</button>
                  </div>
                  
                  <!-- /.col -->
                </div>
            
          </div>
          
        </div>

      </div>
  
  </div>
</div>