/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px
}
.alignright {
    float: right;
    margin-left: 15px
}
.aligncenter {
    display: block;
    margin: 0 auto 200px
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto
}

#container_image{
 background-image: url("../../../assets/img/ed_ufrpe.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-color: #fb044a;
 background-size: 600px
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html,
body { 
    height: 100%
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333
}

a:hover { text-decoration: none }

.login-box{
    margin: 20% auto;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caption{
    margin-bottom: 50px;
}
.loginForm input[type=text], .loginForm input[type=password]{
	margin-bottom: 60px
}

#btn_enviar{
	background:#fb044a;
	color:#fff;
	font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}