<div>
  <div id="container_image"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center aligncenter">
        <div class="search-box">
          <div class="caption">
            <h1>Entre com seus dados e fique informado sobre tudo que acontece na UFRPE</h1>
          </div>
          <form action="" class="loginForm">
            <div class="input-group">
              <label>Usuário</label>
              <input type="text" id="name" class="form-control" placeholder="Nome de Usuário" />
              <br/>
              <label>Senha</label>
              <input type="password" id="paw" class="form-control" placeholder="Senha de Serviços Integrados" />
              <input type="submit" id="submit" class="form-control" value="Enviar" />
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aro-pswd_info">
          <div id="pswd_info">
            <h4><b>Lembre-se</b> a senha de serviços integrados possui as seguintes características</h4>
            <ul>
              <li id="minCaract">A senha deve possuir no mínimo 8 caracteres alfanuméricos</li>
              <li id="maxCaract">A senha deve possuir no máximo 12 caracteres alfanuméricos</li>
              <li id="conteudoSenha">Sua senha só pode conter letras(Aa-Zz), números (0-9) e pontuação</li>
              <li id="letraMaiusc">A senha deve possuir pelo menos uma letra maiúscula (A-Z)</li>
              <li id="letraMin">A senha deve possuir pelo menos uma letra minúscula (a-z)</li>
              <li id="caractEsp">A senha deve possuir pelo menos um número, símbolo ou caractere especial</li>
              <li id="semPV">A senha não deve possuir o caractere ponto e vírgula ';'</li>
              <li id="semAspasD">A senha não deve possuir o caractere aspas duplas '"'</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>