<div class="navbar">
  <label id="nome-site">Acontece na Rural</label>
  <img id="ufrpe" src="..\..\..\assets\img\ufrpe.png" alt="">
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="caption">
      <h1>Entre com seus dados e fique informado sobre tudo que acontece na UFRPE</h1>
    </div>
    <div class="login-box">
      <form class="loginForm">
        <label>Usuário</label>
        <input #usuario type="text" placeholder="Nome de Usuário" />
        <br/>
        <label>Senha</label>
        <input #senha type="password" placeholder="Senha de Serviços Integrados" />
        <button #enviar id="btn_enviar" (click)="logar(usuario.value, senha.value)">Enviar</button>
      </form>
    </div>
    <img id="edufrpe" src="..\..\..\assets\img\ed_ufrpe.jpg" alt="">
  </div>
</div>