<div class="row">
	<div class="row row-content">
		<div class="col-xs-3">
			
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="../assets/img/ufrpe.jpg" alt="Card image cap" style="width: 20rem;">
			  <div class="card-block">
			    <h4 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> Danielly Queiroz</h4>
			    
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Ciência da Computação</li>
			    <li class="list-group-item"><i class="fa fa-university " aria-hidden="true"></i> UFPE</li>
			    <li class="list-group-item"><i class="fa fa-home" aria-hidden="true"></i> Recife-PE</li>
			  </ul>
			  <div class="card-block">
			    <a href="#" class="card-link"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook </a>
			    <a href="#" class="card-link"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter </a>
			  </div>
			</div>

		</div>
	</div>
</div>