<div class="col col-md-9">
  <div class="row">
    <div class="col col-md-11 col-sm-12">
      <div [ngSwitch]="usuarioLogado.publicacoesSalvas.length">
        <div class="sorry" *ngSwitchCase="0">Você não salvou nenhuma publicação até o momento :(</div>
        <div *ngSwitchDefault>
          <div class="box box-widget" *ngFor="let pub of usuarioLogado.publicacoesSalvas">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="{{usuarioLogado.imagem}}" alt="Imagem do usuário">
                <span class="username">{{usuarioLogado.nome}}</span>
                <span class="description">{{pub.data| date: 'medium'}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" [ngStyle]="{'color': estaSalvaPublicacao(pub) === true? '#ffcc00' : '#444'}"
                  data-widget="favorita"><i class="fa" [ngClass]="{'fa-star': estaSalvaPublicacao(pub) === true, 'fa-star-o': estaSalvaPublicacao(pub) === false}" aria-hidden="true" (click)="salvarPublicacao(pub)"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" (click)="removerPublicacao(pub, usuarioLogado.nomeUsuario)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                

                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <!-- post text -->
                  <p>{{pub.texto}}</p>

                  <!-- Attachment -->
                  <!-- PARTE DA FOTO NA PUTLIBACAO
                      <div class="attachment-block clearfix">
                        <img class="attachment-img" src="assets/img/teste.jpg" alt="Attachment Image">
  
                        <div class="attachment-pushed">
                          <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>
  
                          <div class="attachment-text">
                            Description about the attachment can be placed here.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
                          </div>
                          <!-- /.attachment-text 
                        </div>
                        <!-- /.attachment-pushed 
                      </div> -->
                  <!-- /.attachment-block -->

                  <!-- Social sharing buttons -->
                  <a class="link-black link-action text-sm margin-r-5" [ngStyle]="{'color': naoGostou(pub, usuarioLogado.nomeUsuario) === true? '#dc5847' : '#444'}"
                  (click)="naoGostarPublicacao(pub, usuarioLogado.nomeUsuario)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Não gostei ({{pub.pessoasDescurtiram.length}})</a>
                 <a class="link-black link-action text-sm" [ngStyle]="{'color': gostou(pub, usuarioLogado.nomeUsuario) === true? '#3c8dbc' : '#444'}" [ngStyle]="{'strong': gostou(pub, usuarioLogado.nomeUsuario) === true? 'true' : 'false'}" (click)="gostarPublicacao(pub, usuarioLogado.nomeUsuario)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Gostei ({{pub.pessoasCurtiram.length}})</a>
                 <span class="pull-right link-black text-sm">comentários ({{pub.comentarios.length}})</span>
                </div>
                <!-- /.box-body -->
                <div *ngIf="pub.comentarios.length > 0">
                  <div class="box-footer box-comments">
                    <div class="box-comment" *ngFor="let comentario of pub.comentarios">
                      <!-- User image -->
                      <img class="img-circle img-sm" src="{{comentario.imagem}}" alt="Imagem do Usuário">
                      <div class="comment-text">
                        <span class="username">
                                {{comentario.nome}}
                    <button type="button" class="btn btn-box-tool pull-right" data-widget="remove" (click)="removerComentario(pub,comentario, usuarioLogado.nomeUsuario)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <span class="text-muted push-left">{{comentario.data| date:'medium'}}</span>
                        </span>
                        <!-- /.username -->
                        {{comentario.texto}}
                      </div>
                      <!-- /.comment-text -->
                    </div>
                  </div>
                </div>
                <!-- /.box-footer -->
                <div class="box-footer">
                  <form>
                    <img class="img-responsive img-circle img-sm" src="{{usuarioLogado.imagem}}" alt="Imagem do Usuário">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Comente essa publicação" #comentarioTexto (keyup.enter)="adicionarComentario(pub, comentarioTexto.value)">
                        <div class="input-group-btn">
                          <button class="btn-reset" type="reset">	
                            <button (click)="adicionarComentario(pub, comentarioTexto.value)" type="button" class="btn btn-warning input-md">
                              <span class="fa fa-comment" aria-hidden="true"></span>
                            </button>
                          </button>
                          
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>