<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Acontece Na Rural</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/timeline">Mural</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>Bem-vindo a {{title}}</h1>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
  <footer>
     <div class="card card-inverse" style="background-color: #1F3488; border-color: #333; color: fff">
        <div class="card-block">
          <h3 class="card-title">Acontece na Rural</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
  </footer> 

