<div class="col col-md-9">
    <div class="row">
        <div class="col col-md-11 col-sm-12">
            <div class="box box-widget box-post">
                <div class="box-body">
                    <label>Assuntos de</label>
                    <div class="margin-br">
                        <input id="bcc" type="checkbox">
                        <label for="bcc">BCC</label>
                        <input id="bsi" type="checkbox" class="margin-br">
                        <label for="bsi">BSI</label>
                        <input id="lc" type="checkbox" class="margin-br">
                        <label for="lc">LC</label>
                        <input id="ufrpe" type="checkbox" class="margin-br">
                        <label for="ufrpe">UFRPE</label>
                    </div>
                    <label>Tempo Lembrete AVA</label>
                    <input type="range" min="12" max="120" step="12" #tempoLembreteAVA class="margin-br">
                    <label>Alterar sua descrição</label>
                    <input type="text" col="12" #descricao class="margin-br">
                    <div>
                        <button type="button" class="btn bg-gray">Fazer alterações
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!--col2-->

    </div>

</div>