<div class="col col-md-9">
	<div class="row">
			<div class="col col-md-11 col-sm-12">
			
				<div class="box box-widget" *ngFor="let pub of getNews()">
	                <div class="box-header with-border">
	                  <div class="user-block">
	                    <img class="img-circle" src="./assets/img/ufrpe.jpg" alt="User Image">
	                    <span class="username"> UFRPE</span>
	                    <span class="description">{{pub.pubDate}}</span>
	                  </div>
	                  <!-- /.user-block -->
	                </div>
	                <!-- /.box-header -->
	                <div class="box-body" [innerHTML]="pub.description"> 
	                </div>
				</div>
				
			</div><!--col2-->
			
		</div><!--row2-->
</div>
			